*{
    margin: 0;
    padding: 0;
    
    
}
body{
    align-items: center;
    text-align: center;
    background-color: #548687;
}
.container{
   height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;

}
.board{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:1rem;
    border:none;
    background-color: #ffffc7;
    color:#b1403e;
    font-size: 8vmin;
    font-weight: bold;
}
#reset{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;

}
.msg{
    color:#ffffc7;
    font-size: 5vmin;
}
.msgCot{
    height: 30vmin;
  

}
.hide{
    display: none;
}
   